header {
    text-align: center;
    font-size: 40px;
    font-family: "Secret Midnight";
}

#video {
    border: 10px dashed black;
    box-sizing: border-box;
}

#videoDiv{
    display: flex;
    justify-content: center;
}

#messageFormDiv {
    display: flex;
    justify-content: center;
    border: 10px dashed black;
    box-sizing: border-box;
    width: 500px;
    height: 605px;
}

.inputM{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
}

p{
    font-family: "Sunny Spells Basic";
    text-align: center;
    font-size: 40px;
}

.labels{
    font-family: "Sunny Spells Basic";
    font-size: 20px;
    font-weight: bold;
}

hr{
    height: 5px;
    background-color: black;
    margin-bottom: 100px;
}

#header{
    margin-bottom: -40px;
}

#radioButtonQ{
    font-size: 20px;
}

.answers{
    font-family: "Sunny Spells Basic";
}

#navLink{
    list-style: none;
    font-family: fantasy;
    margin-top: -95px;
    margin-bottom: 75px;
    font-size: 25px;
}

a{
    text-decoration: none;
}
